.main {
  background-color: #fff;
  position: absolute;
  color: #1f1f1f;
  border: #dedede solid 1px;
  display: inline-block;
  overflow-y: hidden;
  .layout-header {
    height: 38px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100%;
    line-height: 24px;
    padding: 5px;
    .bp3-button-group {
      margin-right: 10px;
      .bp3-button {
        min-width: 30px;
        .bp3-button-text {
          color: black;
        }
      }
    }
  }
  .toolbar {
    background-color: #f5f5f5;
    border-color: #d6d6d6;
    color: #505050;
    .bp3-active {
      background-color: #f2c113 !important;
    }
    .bp3-button:not(.bp3-minimal):not(.bp3-active) {
      background-color: #fff;
      .bp3-icon {
        color: black;
      }
    }
    .bp3-button:not(.bp3-minimal):not(.bp3-active):hover {
      background-color: #bac0c5;
    }
  }
  .main-body {
    padding: 20px 30px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    .ant-row {
      line-height: 40px;
      .ant-form-item-label {
        text-align: right;
        font-weight: bold;
        label {
          font-size: 18px;
        }
      }
      .editor-content {
        border-left: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9;
        .margin {
          display: none;
        }
        .monaco-scrollable-element {
          left: 0 !important;
        }
      }
    }
  }
}
